<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.dafz.learntocook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KitchenEquipment"
            android:label="@string/title_activity_kitchen_equipment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KitchenManagement"
            android:label="@string/title_activity_kitchen_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CookeryTerms"
            android:label="@string/title_activity_cookery_terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EssentialTips"
            android:label="@string/title_activity_essential_tips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Recipes"
            android:label="@string/title_activity_recipes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quiz"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyRecipes"
            android:label="@string/title_activity_my_recipes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleRecipeFull"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>